/* 报错页面样式 */

.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .svg {
    width: 25%;

    img {
      width: 100%;
    }
  }

  .error-text {
    margin-left: 25px;

    &-oops {
      font-size: 32px;
      font-weight: bold;
      line-height: 40px;
      color: var(--el-color-primary);
      opacity: 0;
      margin-bottom: 20px;
      animation-name: slideUp;
      animation-duration: 0.3s;
      animation-fill-mode: forwards;
    }

    &-head {
      font-size: 20px;
      line-height: 24px;
      color: #222;
      font-weight: bold;
      opacity: 0;
      margin-bottom: 10px;
      animation-name: slideUp;
      animation-duration: 0.3s;
      animation-delay: 0.3s;
      animation-fill-mode: forwards;
    }

    &-info {
      font-size: 13px;
      line-height: 21px;
      color: grey;
      opacity: 0;
      margin-bottom: 30px;
      animation-name: slideUp;
      animation-duration: 0.3s;
      animation-delay: 0.3s;
      animation-fill-mode: forwards;
    }

    &-back-btn {
      display: block;
      float: left;
      width: 125px;
      height: 36px;
      background: var(--el-color-primary);
      border-radius: 100px;
      text-align: center;
      color: #ffffff;
      opacity: 0;
      font-size: 14px;
      line-height: 36px;
      cursor: pointer;
      animation-name: slideUp;
      animation-duration: 0.3s;
      animation-delay: 0.3s;
      animation-fill-mode: forwards;
    }

    @keyframes slideUp {
      0% {
        transform: translateX(60px);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
}
